<div class="flextable input-group input-group-sm">
    <input class="flextable-item form-control"
           type="number"
           placeholder="0"
           ng-model="params.filter()[name].min"
           ng-disabled="$filterRow.disabled">
    <span class="flextable-item p-l-xs p-r-xs">-</span>
    <input class="flextable-item form-control"
           type="number"
           placeholder="0"
           ng-model="params.filter()[name].max"
           ng-disabled="$filterRow.disabled">
</div>